
    .theme-flat-0 {
      --layer2: #c0d4f7;
      --layer1: #7c89ad;}
    
    .theme-color-1 {
      --layer3: #78d1f4;
      --layer2: #7b8baf;
      --layer1: #ffd4c7;
      --stroke: #2e4369;}
    
    .theme-color-2 {
      --layer3: #69c492;
      --layer2: #7b8baf;
      --layer1: #78d1f4;
      --stroke: #2e4369;}
    
    .theme-color-3 {
      --layer1: #9cc4a4;
      --stroke: #2e4369;}
    
    .theme-color-4 {
      --layer3: #a6b1c9;
      --layer2: #f45d5d;
      --layer1: #c3d6f9;
      --stroke: #2e4369;}
    
    .theme-color-5 {
      --layer2: #44d88d;
      --layer1: #a6b1c9;
      --stroke: #2e4369;}
    
    .theme-color-6 {
      --layer2: #81dc89;
      --layer1: #fff;
      --stroke: #2e4369;}
    
    .theme-color-7 {
      --layer3: #fff;
      --layer2: #49bcff;
      --layer1: #9cf;
      --stroke: #2e4369;}
    
    .theme-color-8 {
      --layer3: #e0eafc;
      --layer2: #f27e7c;
      --layer1: #8fa9d8;
      --stroke: #2e4369;}
    
    .theme-color-9 {
      --layer2: #9cc4a4;
      --layer1: #fc6;
      --stroke: #2e4369;}
    