@import URL("/packages/bootstrap_scss/scss/bootstrap.css");
@import URL("/assets/fonts/line-icons.css");
@import url("/packages/apt/src/scss/main.css");

// @import  URL("/static/scss/custom.css" );
// @import  URL("/static/scss/calendar.css" );




body{
    background-color: purple;
}
.col{
    background-color: purple;
}